﻿
@media (max-width: 576px){
    body{
        background: yellow;
    }
    .menu{
        top: 0 !important;
        height: auto;
        width: 100%;
        ul{
            height: auto;
            display: block;
            text-align: center;
        }
    }
    .product{
        display: block;
        top: 730px;
        width: 100%;
        .box{
            width: 100%;
            height: 330px;
            margin-bottom: 10px;
            img{
                height: 70%; 
            }
        }
    }
}
