* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("https://picjumbo.com/wp-content/uploads/strawberries-with-yellow-background-free-photo-2210x1473.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.menu {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 900px;
  transform: translateX(-50%); }
  .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #235858;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
    .menu ul li {
      list-style: none;
      cursor: pointer;
      font-weight: 600;
      padding: 0 15px;
      color: #fff;
      transition: 0.3s;
      font-size: 16px;
      font-family: "Palatino Linotype"; }
      .menu ul li:hover {
        background: #7cdf47; }

.product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .product .box {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    cursor: pointer; }
    .product .box:last-child {
      margin-right: 0px; }
    .product .box:hover img {
      transform: scaleX(1.2); }
    .product .box img {
      height: 50%;
      transition: 0.3s;
      width: 100%; }
    .product .box p {
      font-size: 15px;
      margin: 20px 15px; }
    .product .box a {
      text-decoration: none;
      margin-left: 15px;
      padding: 5px 20px;
      border: 1px solid #000;
      border-radius: 4px;
      color: #000;
      font-weight: 600;
      transition: 0.3s; }
      .product .box a:hover {
        background: #7cdf47; }

@media (max-width: 576px) {
  body {
    background: yellow; }

  .menu {
    top: 0 !important;
    height: auto;
    width: 100%; }
    .menu ul {
      height: auto;
      display: block;
      text-align: center; }

  .product {
    display: block;
    top: 730px;
    width: 100%; }
    .product .box {
      width: 100%;
      height: 330px;
      margin-bottom: 10px; }
      .product .box img {
        height: 70%; } }

/*# sourceMappingURL=main.css.map */
