﻿// shadow
$shadow_menu : 0 2px 4px rgba(0,0,0,0.3);
$shadow_product : 2px 2px 4px rgba(0,0,0,0.4);

//color
$bg_menu_color: #235858;
$menu_text_color: #fff;
$bg_menu_hover_color: #7cdf47;
$bg_product_color: #fff;
$text_view_btn_color: #000;

//size
$size_content: 900px;

//border
$border_product: 4px;
$border_menu: 4px;
$border_view_now: 1px solid #000;
$boder_rad_view_now: 4px;
    
//font
$font_size_menu: 16px;
$font_family_menu: "Palatino Linotype";
$font_size_p: 15px;
$font_size_a: 15px;
$font_wei_a: 600;

//transition
$transition: 0.3s;

//bg_images
$bg_body_url: url('https://picjumbo.com/wp-content/uploads/strawberries-with-yellow-background-free-photo-2210x1473.jpg');

//mixin
@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin position_center {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin bg_cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


//SCSS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    height: 100vh;
    background: $bg_body_url;
    @include bg_cover();
}
.menu{
    position: absolute;
    top: 40px;
    left: 50%;
    width: $size_content;
    transform: translateX(-50%);
    ul{
        @include flex_center();
        background: $bg_menu_color;
        border-radius: $border_menu;
        height: 40px;
        line-height: 40px;
        box-shadow: $shadow_menu;
        li{
            list-style: none;
            cursor: pointer;
            font-weight: 600;
            padding: 0 15px;
            color: $menu_text_color;
            transition: $transition;
            font-size: $font_size_menu;
            font-family: $font_family_menu;
            &:hover{
                background: $bg_menu_hover_color;
            }
        }
    }
}
.product{
    position: absolute;
    @include position_center();
    width: $size_content;
    .box{
        width: $size_content/3;
        height: $size_content/3;
        margin-right: 20px;
        background: $bg_product_color;
        border-radius: $border_product;
        box-shadow: $shadow_product;
        overflow: hidden;
        cursor: pointer;
        &:last-child{
            margin-right: 0px;
        }
        &:hover img{
            transform: scaleX(1.2);
        }
        img{
            height: 50%;
            transition: $transition;
            width: 100%;
        }
        p{
            font-size: $font_size_p;
            margin: 20px 15px;
        }
        a{
            text-decoration: none;
            margin-left: 15px;
            padding: 5px 20px;
            border: $border_view_now;
            border-radius: $boder_rad_view_now;
            color: $text_view_btn_color;
            font-weight: $font_wei_a;
            transition: $transition;
            &:hover{
                background: $bg_menu_hover_color;
            }
        }
    }
    @include flex_center();
}

@import 'mobile';